nav{
    float: left;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

nav > img{
    margin: 25px;
    height: 40px;
}

.menu-fijo {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 2px 2px 5px #888888;
}