@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Raleway');

@import url("header.css");
@import url("one.css");
@import url("two.css");
@import url("three.css");
@import url("five.css");
@import url("six.css");

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}